@use 'src/render/components/var';

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    h1 {
        margin: unset;
    }
    .frame {
        height: 35px;
        background: rgb(255, 255, 255);
        -webkit-app-region: drag;
        border-bottom: 1px solid var.$border-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        font-weight: bold;
    }

    .content {
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .title {
        font-weight: 400;
    }

    .permissionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    .permission {
        display: flex;
        height: 100px;

        .left {
            width: 150px;
            margin-right: 20px;
            text-align: right;

            .type {
                font-weight: bold;
            }
        }

        .right {
            flex: 1;
            .bottom {
                display: flex;
                align-items: center;
                margin-top: 10px;

                .status {
                    display: flex;
                    align-items: center;
                    width: 80px;

                    .indicator {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: red;
                        margin-right: 8px;
                    }

                    .on {
                        background: #42ba45;
                    }
                }

                .button {
                    margin-left: 10px;
                    font-size: 11px;
                    padding: 9px 19px;
                }
            }
        }
    }

    .closeButton {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 20px;
    }
}
