* {
    box-sizing: border-box;
    user-select: none;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/Source_Sans_Pro/SourceSansPro-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/Source_Sans_Pro/SourceSansPro-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/Inter/Inter-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/Inter/Inter-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/Inter/Inter-Thin-BETA.ttf');
    font-weight: 300;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: unset;
}

a:hover {
    text-decoration: underline;
}
