.button {
    background-color: #2c6bed;
    border: 1px solid #1c7ce7;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    padding: 9px 19px;
    text-align: center;
    white-space: nowrap;
}

.button[disabled] {
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #8e8e8e;
    cursor: not-allowed;
}

.button:active {
    transition: background-color 30ms;
    background-color: #1851b4;
}
