.button {
    background: dodgerblue;
    border: 1px solid #1c7ce7;
    color: white;
    padding: 0 12px;
    height: 25px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.button:active {
    transition: background-color 30ms;
    background: #135fa8;
}
